h1 {
  margin: 2rem;
  margin-bottom: 3rem;
}

.info-container {
  display: flex;
  justify-content: space-between;
  margin: 1rem;
}

.info {
  border: 1px solid lightgray;
  width: 30%;
  height: auto;
  border-radius: 5px;
  background-color: #cae3cc;
}

#stats-container {
  padding: 1rem;
}

#learn-more {
  text-align: center;
  padding-top: 2.5rem;
}

.search-container {
  display: flex;
  justify-content: center;
  width: 70%;
  margin: 1rem auto;
  padding: 3rem;
  height: auto;
}

#search {
  border-radius: 8px 0px 0px 8px;
  border: 1px solid lightgray;
  padding: 0.5rem;
  float: left;
}

.search-btn {
  float: left;
  width: 20%;
  padding: 0.5rem;
  border-radius: 0px 8px 8px 0px;
  border: 1px solid lightgray;
  background-color: #46ab4e;
  color: white;
}

.search-btn:hover {
  background-color: #38633b;
}

.name-btn {
  display: block;
  padding: 10px;
  width: 40%;
  margin: 1rem auto;
}

.card-text,
.card-img,
.card-header {
  display: block;
  margin: auto;
  width: 50%;
  padding: 1rem;
}

.card-text {
  padding: 0.5rem;
  color: #636363;
}

.card-header {
  text-align: center;
}

.card-img {
  width: 20%;
}
